<script>
dashboard = angular.module('pcbuilder', []);

dashboard.controller("productController", ['$scope', '$http', function ($scope, $http) {
  var pathArray = window.location.pathname.split( '/' );
  var prices;
  var row = Array();

  $http.get("/api/dashboard/"+pathArray[pathArray.length-2]+"/"+pathArray[pathArray.length-1]).success(function (data) {
    $scope.product = data;
    prices = data.webshopprijzen;
    laadGrafiek();
  });



  
  function laadGrafiek(){
  }
  

  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  //var row = Array();
  
  function drawChart() {
  	var column = Array();
  	var priceWebshop = Array();
  	var datumArray = Array();
  	var webshopArray = Array();
  	for(var i = 0 ; i < prices.length ; i ++){
  		if(datumArray.indexOf(prices[i].date) == -1){
  			datumArray[datumArray.length] = prices[i].date;
  		}
  	}
  	datumArray.sort(function(a, b){
	    var aa = a.split('-').reverse().join(),
	        bb = b.split('-').reverse().join();
	    return aa < bb ? -1 : (aa > bb ? 1 : 0);
	});

  	for(i = 0 ; i < prices.length ; i ++){
  		if(webshopArray.indexOf(prices[i].webshop) == -1){
  			webshopArray[webshopArray.length] = prices[i].webshop;
  		}
  	}

  	for(i = 0 ; i < prices.length ; i ++){
  		priceWebshop[priceWebshop.length] = [prices[i].webshop, prices[i].price, prices[i].date]
  	}
  	column[0] = 'Date';
  	for(i = 0 ; i < webshopArray.length ; i ++){
  		column[column.length] = webshopArray[i];
  	}
  	row[0] = column;
  	column=[];
  	for(i = 0 ; i < datumArray.length ; i ++ ){
  		column[0] = datumArray[i];
  		for(var j = 0 ; j < priceWebshop.length ; j ++ ){
  			if(datumArray[i] == priceWebshop[j][2]){
				column[webshopArray.indexOf(priceWebshop[j][0])+1] = parseFloat(priceWebshop[j][1]);
  			}
  		}
  		row[row.length] = column;
  		column = [];
  	}
    var data = google.visualization.arrayToDataTable(row);

    var options = {
      title: 'Prijsverloop',
      curveType: 'function',
      legend: { position: 'bottom' }
    };

    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

    chart.draw(data, options);
  }
      

}]);
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<div ng-controller="productController">
	
	<div class="outer_box">
		<div class="title_box">
		{{ product.name }}
		</div>

		<div style='max-height: 200px; overflow-y: auto;'>
				<div>
					
				</div>
		</div>

		<div id="curve_chart" class="line_chart"></div>
	</div>
</div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
