HOME DASHBOARD<br>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


<div class="outer_box">
<div class="title_box">
	<%= @json_data["name"] %>
</div>
<div id="curve_chart" class="line_chart"></div>
</div>