<div class="outer_box">
<div class="title_box">
Zoek
</div>

	

<div class="container" ng-controller="searchController">
    <div class="col-md-12">
        <form ng-submit="submitform()" ng-controller="searchController">
            <input type='text' name='searchTag' ng-model='searchTag'>
            <input type="submit">
        </form>
    </div>
</div>


<hr size=1>
<div ng-controller="searchController">
	<h1>zoekresultaten voor: ' {{ params }} ' </h1>
	<hr size=1>
	<div style='max-height: 200px; overflow-y: auto;'>
		<div ng-repeat="product in products">
			<a class='search-result' ng-href='/dashboard/{{ product._id.$oid }}/{{ product.category }}'>
				<div class="text-muted search-text-div">
                    <img class="center-block" ng-src="/assets/icon-{{ product.category }}.png">
					<h1>{{ product.name }}</h1>
					<h5>{{ product.category }}</h5>
				</div>
			</a>
			<hr size=1>
		</div>
	</div>
</div>
	
</div>