<div class="outer_box">
<div class="title_box">
Zoek
</div>

	<form ng-controller="searchController" ng-submit="search(searchTag)">
		<label for='searchTag'>Zoekterm</label>
			<input type='text' name='searchTag' ng-model='searchTag' />
		<br>
		<input type='submit' value='Zoek' />
	</form>
	<hr size=1>
		<div>
			<div style='max-height: 200px; overflow-y: auto;'>
				<div class="container" ng-controller="searchController">
					<h1> {{ params }} </h1>
					<div ng-repeat="product in products">
						<a href='/dashboard/{{ product._id }}/{{ product.category }}'>
							<div>
								{{ product.name }}
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	
</div>