<div id="components" class="container" ng-controller="PcbuilderController">
  <div class="col-md-12">
    <div class="col-md-4" ng-repeat="component in components">
      <div class="panel panel-default">
        <div class="panel-body">
          <a><img class="center-block" ng-src="/assets/icon-{{ component.name }}.png"></a>
        </div>
        <div class="panel-footer">
          <select name="{{ component.category }}" class="form-control">
            <option value="" disabled selected>{{ component.name }}</option>
            <!--<option ng-repeat="spec in component.product_schema">{{ spec }}</option>-->
          </select>
        </div>
      </div>
    </div>
  </div>
</div>