// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.outer_box {
	width: 80%;
	border: 3px solid #4da5ff;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3%;
	height: 100%;
}

.title_box	{
	width: 100%;
	position: relative;
	background-color: #4da5ff;
	color: white;
	font-weight: bold;
	font-size: 22pt;
	text-align: center;
}

.line_chart {
	width: auto; 
	height:500px;
	margin-left: auto;
	margin-right: auto;
}