<!DOCTYPE html>
<html ng-app="pcbuilder">
<head>
  <title>Pcbuilder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                A-Pc <small>by A-Maze</small>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/search">Search</a></li>
        </ul>
    </div>
</nav>

<%= yield %>

</body>
</html>
